.body{
  background-color: grey;
}

.headers{
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  text-align: center;
  color: white;
}
.sub-headers{
  color: white;
}

.post-content{
  padding: 10px 5px 10px 5px;
  background-color: white;
  border-radius: 5px;
}

form a{
  margin-left: 5px;

}
